@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

html,
body {
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
  font-family: 'Open Sans', sans-serif;
}

a, a:link, a:hover,
a:visited {
  color: royalblue;
  font-size: 13px;
}

footer {
  text-align: center;
  margin: .5rem;
}

.board {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  padding: 1rem;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.square {
  background-color: gainsboro;
  border-radius: .5rem;
  margin: .5rem;
}

.modal {
  background-color: white;
  border-radius: .5rem;
  position: absolute;
  z-index: 2;
  padding: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal > span {
  font-weight: 700;
  text-transform: uppercase;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/*styling for standard tic tac toe board*/
/*.square {
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 0px 1px 1px 0;
}

.square:nth-last-child(-n+3) {
  border-bottom: 0;
}

.square:nth-last-child(-n+3):last-child,
.square:nth-child(3), .square:nth-child(6) {
  border-right: 0;
}*/
