@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

html,
body {
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
  font-family: 'Open Sans', sans-serif;
}

a, a:link, a:hover,
a:visited {
  color: cornflowerblue;
  font-size: 13px;
}

footer {
  text-align: center;
  margin: .5rem;
}

.board {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 1rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: .5rem;
  padding: 1rem;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.square {
  background-color: gainsboro;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 2;
  padding: 3rem;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal > span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.modal__selector {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}

.selector, .selector:focus {
  border: 0;
  border-radius: .5rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  outline: none;
}

#x { background-color: tomato; }
#o { background-color: cornflowerblue; }
#x:hover { background-color: #e7593f; }
#o:hover { background-color: #5984d3; }

.red { background-color: coral; }
.blue { background-color: cornflowerblue; }

/*styling for standard tic tac toe board*/
/*.square {
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 0px 1px 1px 0;
}

.square:nth-last-child(-n+3) {
  border-bottom: 0;
}

.square:nth-last-child(-n+3):last-child,
.square:nth-child(3), .square:nth-child(6) {
  border-right: 0;
}*/
